Project_2/2707_Team/.idea/*.*
Project_2/2608_Team/.idea/*.*
Project_2/2608_Team/GoogleNews-vectors-negative300.bin
Project_2/2608_Team/custtest.csv
Project_2/2608_Team/custtest2.csv
Project_2/2608_Team/linsvm.pkl
